<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css"> <!-- Ajouter votre fichier CSS personnalisé ici -->
  <title>Create Leave Request</title>
</head>
<body>
<div class="container mt-5">
  <h2 class="text-center mb-4">Create Leave Request</h2>
  <form th:action="@{saveLeaveReq}" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
    <!-- Affichage du message d'erreur -->
    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Error!</strong> <span th:text="${errorMessage}"></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- Champs de formulaire -->
    <div class="mb-3">
      <label for="startDate" class="form-label">Start Date:</label>
      <input type="date" id="startDate" name="startDate" class="form-control" required/>
      <div class="invalid-feedback">Please provide a valid start date.</div>
    </div>

    <div class="mb-3">
      <label for="endDate" class="form-label">End Date:</label>
      <input type="date" id="endDate" name="endDate" class="form-control" required/>
      <div class="invalid-feedback">Please provide a valid end date.</div>
    </div>

    <div class="mb-3">
      <label for="reason" class="form-label">Reason:</label>
      <input type="text" id="reason" name="reason" class="form-control" required/>
      <div class="invalid-feedback">Please provide a reason for leave.</div>
    </div>

    <div class="mb-3">
      <label for="commentaire" class="form-label">Commentaire:</label>
      <input type="text" id="commentaire" name="commentaire" class="form-control"/>
    </div>

    <div class="mb-3">
      <label for="leaveType" class="form-label">Leave Types:</label>
      <select id="leaveType" name="leaveType" class="form-select" required>
        <option th:each="leaveType : ${leaveTypes}" th:value="${leaveType.idType}" th:text="${leaveType.labelle}"></option>
      </select>
      <div class="invalid-feedback">Please select a leave type.</div>
    </div>
    <div class="mb-3">
      <label for="leaveType" class="form-label">Leave Proof</label>

      <input type="file" name="file" />

      <div class="invalid-feedback">Please select a leave type.</div>
    </div>
    <!-- Bouton Soumettre -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<!-- Scripts Bootstrap -->
<script src="webjars/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
