<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.0.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>My Employees Leaves Requests</title>
    <style>
        /* Ajoutez vos styles CSS personnalisés ici */
        .table th, .table td {
            text-align: center;
        }

        .btn-accept {
            background-color: #28a745;
            border-color: #28a745;
        }

        .btn-reject {
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-accept:hover, .btn-reject:hover {
            background-color: rgba(0, 0, 0, 0.1); /* Couleur de fond légèrement plus claire au survol */
        }

        .btn-accept i, .btn-reject i {
            font-size: 1.2rem;
            color: white; /* Couleur blanche pour les icônes */
        }
    </style>
</head>
<body>
<div layout:fragment="content">
<div style="margin-top: 150px; margin-left: 15px" >
    <h2>
        My Employees Leaves Requests
    </h2>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Employe</th>
            <th>Start At</th>
            <th>End At</th>
            <th>Duration</th>
            <th>Reason</th>
            <th>Comment</th>
            <th>Type</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="leave : ${leaves}">
            <td>
                <a th:href="@{showProfile(id=${leave.person.getIdPerson()})}">
                    <span th:text="${leave.person.firstName+' '+leave.person.lastName}"></span>
                </a>
            </td>
            <td th:text="${leave.startDate}"></td>
            <td th:text="${leave.endDate}"></td>
            <td th:text="${leave.duration}"></td>
            <td th:text="${leave.reason}"></td>
            <td th:text="${leave.commentaire}"></td>
            <td th:text="${leave.leaveType.getLabelle()}"></td>
            <td th:text="${leave.status}"></td>
            <td>
                <a th:href="@{acceptLeave(id=${leave.idLeave})}">
                    <button class="btn btn-accept"><i class="bi bi-check"></i></button>
                </a>
                <a th:href="@{rejectLeave(id=${leave.idLeave})}">
                    <button class="btn btn-reject" type="button" data-bs-toggle="modal" data-bs-target="#rejectModal"><i class="bi bi-x-lg"></i></button>
                </a>
                <a th:href="@{downloadProof(id=${leave.leaveProof.getIdLeaveProof()})}">
                    <button class="btn btn-reject" type="button" data-bs-toggle="modal" data-bs-target="#rejectModal"><i class="bi bi-download"></i></i></button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
<!-- Modal for rejection -->
<!--
<div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rejectModalLabel">Reject Leave Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to reject this leave request?
            </div>
            <div class="modal-footer">
                <a th:href="@{showEmploye(id=${leave.idPerson})}">
                    <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </a>
                <a th:href="@{showEmploye(id=${employe.idPerson})}">
                    <button type="button" class="btn btn-danger">Reject</button>
                </a>
            </div>
        </div>
    </div>
</div>
-->
<!-- Scripts -->
<script src="webjars/bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>