<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Leave Request</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css"> <!-- Ajouter votre fichier CSS personnalisé ici -->
</head>
<body>
<div layout:fragment="content">


<form th:action="@{saveTask}" method="post">
    <!-- Affichage du message d'erreur -->
    <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Error!</strong> <span th:text="${errorMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- Champs de formulaire -->
    <label>Description:</label><br>
    <input type="text" name="description"><br>

    <label>Appreciation:</label><br>
    <input type="text" name="appreciation"><br>

    <label>Due Date:</label><br>
    <input type="date" name="dueDate"><br>

    <label>Completed At:</label><br>
    <input type="date" name="completedAt"><br>

    <label>Approved Date:</label><br>
    <input type="date" name="approvedDate" ><br>

    <label>Assigned Date:</label><br>
    <input type="date" name="assignedDate"><br>

    <label>Status:</label><br>
    <select name="status">
        <option value="PENDING">Pending</option>
        <option value="IN_PROGRESS">In Progress</option>
        <option value="COMPLETED">Completed</option>
    </select><br>

    <label>Priority:</label><br>
    <select name="priority">
        <option value="LOW">Low</option>
        <option value="MEDIUM">Medium</option>
        <option value="HIGH">High</option>
    </select><br>

    <label>Task Completers:</label><br>
    <select multiple id="taskCompleters" name="taskCompleters" class="form-select" >
        <option th:each="executor, iterStat  : ${emps}" th:value="${executor.idPerson}">
                <span th:text="${executor.firstName + ' ' + executor.lastName}"></span>
                <span th:if="${!iterStat.last}"><br></span>
                </span>
        </option>
    </select>

    <input type="submit" value="Create Task">
</form>
</div>
</body>
</html>