<html lang="fr" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <title>Th-Add Employe</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.0.2/css/bootstrap.min.css">
</head>
<body>
<h1>Ajouter un employe</h1>
<br>
<form th:action="@{saveEmploye}" method="post">
    <div>
        <!-- Add this block to display the error message -->
        <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
            <p th:text="${errorMessage}"></p>
        </div>

        <div class="row g-5">
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <label for="name"> Nom:</label>
                    <input type="text" for="nom" id="name" name="nom">
                </div>
            </div>
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <label for="prenom">Prenom</label>
                    <input type="text" id="prenom" name="prenom">
                </div>
            </div>
        </div>
<br>
        <div class="row g-5">
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <label for="email">Email : </label>
                    <input type="text" name="email" id="email">
                </div>
            </div>

            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <label for="service">Service : </label>
                    <input type="text" name="service" id="service">
                </div>
            </div>
        </div>
        <br>

        <div class="row g-5">
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <label for="solde_conge">Solde Conge : </label>
                    <input type="text" name="soldeConges" id="solde_conge">
                </div>
            </div>
            <div class="col">
                <div data-mdb-input-init class="form-outline">
                    <label for="role">Role : </label>
                    <select id="role" name="role">
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                </div>
            </div>
        </div>
<br>
        <input type="submit" value="Enregistrer">
    </div>
    <br>
    <footer>
        <a href="employeList" />Liste employes
    </footer>

</form>
</body>
</html>