<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.0.2/css/bootstrap.min.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Th - Employe Edit</title>
</head>
<body>
<div layout:fragment="content">

<header>
    <h1>Modifer Employe</h1>
</header>
<main>
    <form th:action="@{updateEmploye}" method="post">
        <div>
            <label hidden="hidden" for="id"> id: </label>
            <input hidden="hidden" type="text" name="idPerson" for="id" id="id" th:value="${empTh.idPerson}">
        </div>
        <div>
            <div class="row g-5">
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <label for="firstName"> Nom:</label>
                        <input type="text" for="firstName" id="firstName" name="firstName" th:value="${empTh.firstName}">
                    </div>
                </div>

                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <label for="lastName">Prenom</label>
                        <input type="text" id="lastName" name="lastName" th:value="${empTh.lastName}">
                    </div>
                </div>
            </div>

            <div class="row g-5">
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <label for="email">Email : </label>
                        <input type="text" name="email" id="email" th:value="${empTh.email}">
                    </div>
                </div>

                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <label for="departement">departement : </label>
                        <input type="text" name="departement" id="departement" th:value="${empTh.departement}">
                    </div>
                </div>

            </div>

            <div class="row g-5">
                <div class="col">
                    <div data-mdb-input-init class="form-outline">
                        <label for="solde_conge">Solde Conge : </label>
                        <input type="text" name="soldeConges" id="solde_conge" th:value="${empTh.soldeConges}" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="role" class="block mb-1">Role:</label>
                    <select id="role" name="role" class="form-select rounded">
                        <option th:each="role : ${roles}" th:value="${role.role}" th:text="${role.role}"></option>
                    </select>
                </div>

            </div>

            <input type="submit" value="Enregistrer">
        </div>


    </form>
</main>
<footer>
    <a href="employeList">list employe</a>
</footer>
</div>
</body>
</html>