<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.0.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Th - Employe List</title>
</head>
<body>
<div layout:fragment="content" style="margin-top: 150px; margin-left:150px">

<header>
    <h1>Employe List</h1>
    <br>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="createEmploye" class="btn btn-success" style="background-color: #c64cf8"><i class="bi bi-plus-circle-dotted"></i> Add Employe </a>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Id</th> <th>Nom</th> <th>Prenom</th> <th>email</th> <th>Role</th> <th>Service</th> <th>Solde conge</th><th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employe:${empTh}">
            <td th:text="${employe.idPerson}"></td>
            <td th:text="${employe.firstName}"></td>
            <td th:text="${employe.lastName}"></td>
            <td th:text="${employe.email}"></td>
            <td th:text="${employe.role}"></td>
            <td th:text="${employe.departement}"></td>
            <td th:text="${employe.soldeConges}"></td>

            <td><a th:href="@{deleteEmploye(id=${employe.idPerson})}" onclick="return confirm('Etes vous sur de vouloir supprimer cet employe')"><i class="bi bi-trash3-fill" style="color: #8821ef"></i></a>
            <a th:href="@{showEmploye(id=${employe.idPerson})}"><i class="bi bi-pen" style="color: #8821ef"></i></a></td>
        </tr>
        </tbody>
    </table>
</main>
<br>
<footer>
    <!--
        Ce boutton n'est pas visible que pour MANAGER
    <a th:if="${#authorization.expression('hasRole(''MANAGER'')')}" href="createEmploye">ajouter employe</a>
    <a th:if="${authorization.expression('hasAnyRole(''MANAGER'')')}" href="createEmploye">ajouter employe</a>
    -->



</footer>
</div>
</body>
</html>