<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Template.html"
>
<head>
    <meta charset="UTF-8">
    <title>Update Leave Type</title>
</head>




<body>
<div layout:fragment="content">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-container">
                <h2 class="text-center mb-4">Formulaire</h2>
                <form th:action="@{/updateLeaveType}" method="post">

                    <div class="form-group">
                        <label hidden="hidden" for="idType">Labelle</label>
                        <input hidden="hidden" type="text" class="form-control" id="idType" name="idType" th:value="${leaveType.idType}">
                    </div>
                    <div class="form-group">
                        <label for="labelle">Labelle</label>
                        <input type="text" class="form-control" id="labelle" name="labelle" th:value="${leaveType.labelle}">
                    </div>
                    <div class="form-group">
                        <label for="duration">Durée</label>
                        <input type="number" class="form-control" id="duration" name="duration" th:value="${leaveType.duration}">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description" th:value="${leaveType.description}">
                    </div>
                    <button type="submit" class="btn btn-purple btn-block">Soumettre</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>




</html>