<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
  <title>Th-Add Person</title>
<head>
  <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.0.2/css/bootstrap.min.css">

</head>
<body>
<h1>Add Person</h1>
<br>
<form th:action="@{savePerson}" method="post">
  <div>
    <!-- Add this block to display the error message -->
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
      <p th:text="${errorMessage}"></p>
    </div>

    <div th:if="${#fields.hasErrors('*')}">
      <ul>
        <li th:each="field : ${#fields.detailedErrors()}">
          <span th:text="${field.objectName}"></span> - <span th:text="${field.field}"></span>: <span th:text="${field.message}"></span>
        </li>
      </ul>
    </div>

    <div class="row g-5">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <label for="name"> firstName:</label>
          <input type="text" for="firstName" id="name" name="firstName">
        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <label for="lastName">lastName</label>
          <input type="text" id="lastName" name="lastName">
        </div>
      </div>
    </div>
    <br>
    <div class="row g-5">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <label for="email">Email : </label>
          <input type="text" name="email" id="email">
        </div>
      </div>

      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <label for="departement">departement : </label>
          <input type="text" name="departement" id="departement">
        </div>
      </div>
    </div>
    <br>

    <div class="row g-5">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <label for="solde_conge">Solde Conge : </label>
          <input type="text" name="soldeConges" id="solde_conge">
        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <label for="position">Role : </label>
          <select id="position" name="position" for="position">
            <option value="EMPLOYE">EMPLOYE</option>
            <option value="MANAGER">MANAGER</option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <input type="submit" value="Enregistrer">
  </div>
  <br>
  <footer>
    <a href="personList" />Liste persons
  </footer>

</form>
</body>
</html>